@model IEnumerable<PIDU2.Models.Peo>

@{
    ViewBag.Title = "Peod";
}

<h2>Peod</h2>

@if (User.Identity.Name == "admin@mail.ru")
{
    <p>
        @Html.ActionLink("Create New", "crit")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            @if (User.Identity.Name == "admin@mail.ru")
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { ID = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { ID = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { iD = item.ID })
                </td>
            }
        </tr>
    }

</table>

